html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: roboto Condensed;
    background-color: #D3D0CB;
}

#homeContainer {
    height: 100vh;
}

#one {
    height: 100vh;
}

#two {
    height: 100vh;
}

#three {
    height: 100vh;
}

h2 {
    text-align: center;
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 420x;
}


/* BLOCK1 */


.block1 {
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    background: RGB(134, 142, 150, 0.4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    font-size: 24px;
    color: black;
}

.metier {
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 33.33%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 33.33%;
}

.nom {
    display: flex;
    flex-direction: flex-end;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 33.33%;
}

/* BLOCK2 */


.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background: url(../img/photo-restaurant.jpeg);
}

