body,
html {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: #444444;
}

h3 {
  font-size: 32px;
  font-family: "Satisfy", serif;
  background-color: #9e9797;
  color: #eef0f2;
  font-weight: 700;
  padding: 15px;
}

h3 span {
  color: #eef0f2;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  line-height: 0;
}

a:hover {
  color: #ffc85a !important;
  font-size: 25px;
}

footer {
<<<<<<< HEAD
  text-decoration: none !important;
  font-size: 14px;
  padding: 80px 0;
  position: relative;
=======
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 0px 15px #333;
>>>>>>> 05742ff6c84692bfbc6dc11d0f414fcc145c3bb6
}

footer .copyright {
  margin: 0 0 5px 0;
}

footer .social-links {
  margin: 0 0 40px 0;
}

footer .social-links a {
  padding: 8px 0;
  width: 36px;
  height: 36px;
}


/* ==============SPACE=========== */

#space {
  background-color: #9e9797;
  height: 5px;
}

/* ===================NAVBAR================ */
/* ========LIEN NAVBAR========= */

.navBarColor a {
  color: #d3c7ae !important;
  text-decoration: none;
  font-size: 25px;
}

/* =========LIEN NAVBAR HOVER======= */
.navBarColor a:hover {
  color: #ffc85a !important;
  text-decoration: none;
}


/* ====================HEADER================  */

.dev {
  font-family: "Satisfy", serif;
}

#accueil {
  height: 100vh;
}

#accueil h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: #fff;
}

@media (max-width:768px) {
  #accueil h1 {
    font-size: 58px;
  }

}

@media (max-width:519px) {
  #accueil h1 {
    font-size: 54px;
  }

}

#accueil h2 {
  color: #eee;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width:768px) {
  #accueil h2 {
    font-size: 23px;
  }

}

@media (max-width:519px) {
  #accueil h2 {
    font-size: 14px !important;
  }

}

.cv {
  font-size: 25px;
  font-family: "Satisfy", serif;
}

/* ==================================MAIN========================================= */
/* ==================PARCOURS=============== */


/* =================PORTFOLIO============== */

.img {
  width: 200px;
  transition: transform .1s;
}

.img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

/* ================FOOTER ==================*/

.contact {
  font-size: 30px;
  font-family: "Satisfy", serif;
  font-weight: 700;
}